@use '../../../styles/variables' as *;
.btn {
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;

  &-icon {
    display: inline-flex;
    align-items: center;
  }

  &:disabled {
    color: #fff;
    cursor: not-allowed;
    opacity: 1;
  }

  &.primary {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;

    &:hover:not(:disabled) {
      background-color: $primary-hover;
    }

    &:disabled {
      background-color: $primary-disabled;
    }
  }

  &.secondary {
    background-color: white;
    color: #000000;
    border-color: $border-primary;

    &:hover:not(:disabled) {
      background-color: $secondary-hover;
    }

    &:disabled {
      background-color: $secondary-disabled;
    }

  }

  &.danger {
    background-color: $danger-color;
    color: #fff;

    &:hover:not(:disabled) {
      background-color: $danger-hover;
    }

    &:disabled {
      background-color: $danger-disabled;
    }
  }

  &.sm {
    padding: 6px 12px;
    font-size: 14px;
  }

  &.md {
    padding: 10px 16px;
    font-size: 16px;
  }

  &.lg {
    padding: 14px 20px;
    font-size: 18px;
  }
}
