.file-upload-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  //border: black solid 1px;
  padding: 16px;

}

.file-upload-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--Border-border-primary, #D0D5DD);
  border-radius: 10px;
  padding: 16px;

  &:hover{
    border: 2px solid var(--Border-border-brand-2, #0072BC)
  }

  label {
    border: 1px #d5d5d5 solid;
    padding: 10px 10px 6px 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1018280D;
    color: #515151;
  }

  input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &::-webkit-file-upload-button {
      display: none;
    }
  }
  .info-text{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-top: 16px;
    color: var(--Text-text-brand-secondary, #0160A3);

  }
  .info-text-sub{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
  }
}


.file-uploaded-file-individual{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--Border-border-primary, #D0D5DD);
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;

  button{
    background: none;
    border: none;
    color: #515151;
    align-items: center;
  }
}

.file-details{
  display: flex;
  align-items: center;
  gap: 15px;

}

.file-btn{
  display: flex;
  align-items: center;
  gap: 10px;

}

.file-icon{
  color: #515151;
}
